@page
@model SupermarketWEB.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Index Categories";
}
<h1 class="text-uppercase fw-bold fst-italic mb-3">Index Categories</h1>

<!--Profe voy agregar diferentes diseños, tengo conocimientos en boostrap para que no pienses que es IA-->
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories[0].Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
        }
    </tbody>
</table>